.h21{
    font-style: italic;
    color: aliceblue;
    font-size: x-large;
    padding-left: 2rem;
}
.h2{
    font-style: italic;
    color: aliceblue;
    font-size: 300%;
    background-color: #292843;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-top: 2rem;
}
.h12{
    color: aliceblue;
    font-size: xx-large;
    background-color: #292843;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding: 2rem;
    padding-left: 4rem;
}

body{
    background-color: #514762;
}

.list1{
    color: aliceblue;
    font-size: x-large;
}
.Orgfrance{
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #292843;
  padding: 2rem;
  color: aliceblue;
  font-size: 3rem;
  font-style: oblique;
}
.Fflag{
  height: 100px; 
  vertical-align: middle;
  padding-left: 2rem;

}
.h123{
    color: aliceblue;
    font-size: xx-large;
    background-color: #292843;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding: 1rem;
    padding-left: 4rem;

}
.con{
    background-color: #292843;
    font-style: normal;
    color: aliceblue;
    font-size: xx-large;
    padding: 2rem;
    padding-bottom: 3rem;
}
.b{
    font-style: oblique;
    color: aliceblue;
    font-size: 400%;
    background-color: #292843;
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-top: 2rem;
}
.p1{
    color: aliceblue;
    background-color: #292843;
    padding: 2rem;
    font-size: 200%;
}
.briefimg{
    height: auto;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.list2{
    color: aliceblue;
    font-size: xx-large;
}

.h22{
    font-style: italic;
    color: aliceblue;
    font-size: xx-large;
    padding-left: 2rem;

}
.bigger{
     font-style: italic;
    color: aliceblue;
    font-size: 40px;

}
.list3{
    color: aliceblue;
    font-size: xx-large;
    background-color: #292843;
    padding: 2rem;
}

.h3{font-style: oblique;
    color: aliceblue;
    padding-left: 2rem;

}
.l1{
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: 150%;
}
.mwing{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.cwingimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.cwingimg1{
    height: auto;
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.dimg{
    height: auto;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.l2{
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: 150%;
}
.list21{
    color: aliceblue;
    font-size: xx-large;
    padding-left: 2rem;
}
.l3{
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: 150%;
}




















body {
  background-color: #514762; /* Soft antique beige */
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Ensures it covers full screen height */
}

h1{
  font-style: oblique;
  color: aliceblue;
  font-size: 400%;
  background-color: #292843;
  padding-bottom: 2rem;
  padding-left: 5rem;
  padding-top: 2rem;
}

.img1{
  width: 1015px;        
  height: auto;   
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.intro{
  font-size: 40px;
  font-style: italic;
  color: aliceblue;
  padding-left: 2rem;
}


.navbar {
  background-color: #292843; /* Dark background */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5rem; /* Spacing between links */
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: cyan; /* Hover effect */
}
.img2{
  height: 100px; 
  vertical-align: middle;
}
.l{
  color: aliceblue;
  display: flex;
  justify-content: center;
  font-size: 150%;
}